<div *ngIf="veteran" class="margin-left-15">
  <div class="row margin-top-3" >    
      <div *ngIf="veteran.hippaAlerts">
        <div  *ngFor="let alert of veteran.hippaAlerts" class="col-sm-12 alert-danger">
          <strong> {{ alert.message }}</strong>
        </div>      
    </div>   
  </div>
  <div class="row margin-top-3">
    <div class="col-sm-6">
      Name: <strong *ngIf="veteran">{{ veteran.firstName + ' ' + veteran.lastName }}</strong>
    </div>
    <div class="col-sm-6" *ngFor="let phone of veteran.phones | matchPhoneType:'Home'">
       Phone: <strong> {{ phone.phoneNumber }} ({{ phone.phoneType}})</strong>  
    </div>
  </div>
  <div class="row margin-top-3">
    <div class="col-sm-6">
      Member Number: <strong *ngIf="veteran">{{ veteran.memberNumber }}</strong>
    </div>
    <div class="col-sm-6" *ngFor="let phone of veteran.phones | matchPhoneType:'Mobile'">
      Phone: <strong> {{ phone.phoneNumber }} ({{ phone.phoneType}}) </strong>    
    </div>
  </div>
  <div class="row margin-top-3">
    <div class="col-sm-6">
      Gender: <strong *ngIf="veteran">{{ veteran.gender }}</strong>
    </div>
    <div class="col-sm-6" *ngFor="let phone of veteran.phones | matchPhoneType:'Work'">
      Phone: <strong> {{ phone.phoneNumber }} ({{ phone.phoneType}})  </strong>  
    </div> 
  </div>
  <div class="row margin-top-3">
    <div class="col-sm-6">
      Age:  <strong *ngIf="veteran">{{ veteran.age }}</strong>
    </div>
    <div class="col-sm-6">
      Email: <strong *ngIf="veteran">{{ veteran.emailAddress }}</strong>
    </div>
  </div>
  <div class="row margin-top-3">
    <div class="col-sm-6">
      SSN: <strong *ngIf="veteran">{{ veteran.ssnLast4 }}</strong>
    </div>
    <div class="col-sm-6">
      Default Address: 
    </div>
  </div>
  <div class="row margin-top-3">
    <div class="col-sm-6">
      Date of Birth: <strong *ngIf="veteran">{{ veteran.dateOfBirth | date:'shortDate'}}</strong>
    </div>
    <div class="col-sm-6" *ngFor="let address of veteran.addresses | matchAddressType:'Default'">
      <strong>{{ address.street }}</strong>
    </div>
  </div>
  <div class="row margin-top-3">
    <div class="col-sm-6">
      Date of Death: <strong *ngIf="veteran">{{ veteran.dateOfDeath | date:'shortDate' }}</strong>
    </div>
    <div class="col-sm-6" *ngFor="let address of veteran.addresses | matchAddressType:'Default'">
      <strong>{{ address.city + ', ' + address.state }}</strong>
    </div>
  </div>
  <div class="row margin-top-3">
    <div class="col-sm-6">     
    </div>
    <div class="col-sm-6"*ngFor="let address of veteran.addresses  | matchAddressType:'Default'">
      <strong>{{ address.postalCode }}</strong>
    </div>    
  </div>
  <div class="row margin-bottom-3" style="bottom: 0px;">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">      
      <button (click)="moreDetails()" class="btn btn-primary right">More Details</button>          
    </div>
  </div>
</div>
<div *ngIf="veteran === undefined" class="alert alert-info  font-size-14 margin-top-15"><i class="fa fa-spin fa-cog fa-2x"></i><span class="font-size-16 margin-left-5 vertical-align-middle">Loading Data</span></div>
